@import url('https://fonts.googleapis.com/css2?family=Silkscreen&display=swap');
*
{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body
{
    position: relative;
    display: flex;
    min-height: 100vh;
    justify-content: center;
    align-items: center;
    font-family: 'Silkscreen', cursive;
}
.home
{
    position: relative;
    height: 500px;
    width: 800px;
    background: #fff;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 20px;
    box-shadow: inset -10px -20px 30px rgba(0,0,0,0.1),
    -10px -20px 30px rgba(0,0,0,0.1);
}
.home h2
{
    font-size: 50px;
    margin-bottom: 50px;
    color: #444;
    font-weight: 600;
}
.home .link
{
    position: relative;
    margin-bottom: 60px
}
.home .link a
{
    text-decoration: none;
    color: #fff;
    font-size: 20px;
    padding: 10px 70px;
    margin: 0 10px;
    background: tomato;
    border-radius: 5px;
}
.home .link a:hover
{
    background: hotpink;
    transition: 0.5s ease-in-out;

}
.love
{
    position: relative;
    height: 500px;
    width: 800px;
    background: #fff;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 20px;
    box-shadow: -10px -20px 30px rgba(0,0,0,0.1),
                inset -10px -20px 30px rgba(0,0,0,0.1);
    overflow: hidden;
}

.love h1
{
    font-size: 200px;
    font-weight: 600;
    text-shadow: 10px 20px 30px rgba(0,0,0,0.7);
}
.love h1 span
{
    font-size: 180px;
}
.love> span
{
    color: tomato;
    position: absolute;
    transform: translateY(-100px);
    top: 0;
    left: 0;
    font-size: 70px;
}
.love> span:nth-child(1)
{
    top: 0;
    left: 0;
    animation: love 4s ease-in-out infinite;
    animation-delay: 0s;
}
.love> span:nth-child(2)
{
    top: 0;
    left: 100px;
    animation: love 4s ease-in-out infinite;
    animation-delay: 0.5s;
}
.love> span:nth-child(3)
{
    top: 0;
    left: 200px;
    animation: love 4s ease-in-out infinite;
    animation-delay: 1s;
}
.love> span:nth-child(4)
{
    top: 0;
    left: 300px;
    animation: love 4s ease-in-out infinite;
    animation-delay: 4s;
}
.love> span:nth-child(5)
{
    top: 0;
    left: 400px;
    animation: love 4s ease-in-out infinite;
    animation-delay: 2s;
}
.love> span:nth-child(6)
{
    top: 0;
    left: 500px;
    animation: love 4s ease-in-out infinite;
    animation-delay: 3s;
}
.love> span:nth-child(7)
{
    top: 0;
    left: 600px;
    animation: love 4s ease-in-out infinite;
    animation-delay: 1s;
}
.love> span:nth-child(8)
{
    top: 0;
    left: 700px;
    animation: love 4s ease-in-out infinite;
    animation-delay: 3s;
}
@keyframes love {
    0%
    {
        transform: translateY(-100px);
    }
    100%
    {
        transform: translateY(500px);
    }

}



@media screen and (max-width: 480px) {
    .home{
        margin: 0 10px;
        padding: 10px;
    }
    body
    {
        min-height: 50vh;
        margin-top: 100px;
    }
    .home h2
    {
        font-size: 30px;
    }
    .home .link a
    {
        font-size: 18px;
        margin: 0 10px;
        padding: 10px 20px !important;
    }
    .love
    {
        margin: 0 10px;
        padding: 10px;
    }
    .love h1
    {
        font-size: 90px;
    }
    .love h1 span
    {
        font-size: 80px;
    }
    .love> span
    {
        font-size: 50px;
    }
    .love> span:nth-child(1)
    {
        top: 0;
        left: 0;
        animation: love 4s ease-in-out infinite;
        animation-delay: 0s;
    }
    .love> span:nth-child(2)
    {
        left: 50px;
    }
    .love> span:nth-child(3)
    {
        left: 100px;
    }
    .love> span:nth-child(4)
    {
        left: 150px;
    }
        .love> span:nth-child(5)
    {
        left: 200px;
    }
    .love> span:nth-child(6)
    {

        left: 250px;
    }
    .love> span:nth-child(7)
    {
        left: 300px;
    }
    .home img
    {
        height: 300px;
        width: auto;
    }

}
